<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vigsafeversion01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VigSafe - Temperature Register"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VigSafeversion01">
        <activity android:name=".ReportResponse"></activity>
        <activity android:name=".Manager" />
        <activity android:name=".MainActivity" />
        <activity android:name=".manager_report_layout" />
        <activity android:name=".Activity_profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>